@charset "utf-8";
/* CSS Document */
* { padding:0; margin:0; }
a { color:inherit;}
a:hover { text-decoration:none; }
a img { border:none; }
html, body { height:100%; width:100%;}
.clear { clear:both; font-size:0; line-height:0; }

#container_all { min-height:100%; width:100%; background:url(/img/site_bg.gif) repeat-x left top; text-align:center; color:#a6958b; font-size:11px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; }
#content_box { background:url(/img/content_bg.jpg) no-repeat right bottom; min-height:474px; width:100%; }
#footer { background-color:#e1dcc7;  width:100%; }
#footer .tWidth { text-align:center; padding:40px 0 20px 0; }
#footer .tWidth a { text-decoration:none; }
#footer .tWidth a:hover { text-decoration:underline; }
.tWidth { width:750px; margin:0 auto; text-align:left; }

#header .left { float:left; }
#content_box .menu ul { float:right; overflow:hidden; }
#content_box .menu ul li { float:left; padding:10px; margin-right:-1px; background:url(/img/menu_sep.gif) no-repeat right center; display:block; }
#content_box .menu ul li a { text-decoration:none; color:#a6958b; }
#content_box .menu ul li a:hover, #content_box .menu ul li a.active { text-decoration:underline; }

#content .indent { padding: 20px 220px 20px 0; }

h1 { 
    font-family: 'Rouge Script', cursive;
    font-size: 28px;
}

h1 a{
    text-decoration: none;
}

h1 img { vertical-align:top; }

.img_tl { float:left; margin:0 15px 10px 0; }
h4 { font-family:"Bickham Script Pro Regular", "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:18px; }
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}

.submit{
    padding-top: 20px;
}